# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Jozsi\Repos\bookingsystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
/target
bookingsystem.iml

git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/jozsi016/stringcalculator.git
git push -u origin main